body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('beach_california.jpg'); /* Путь к изображению пляжа Калифорнии */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(255, 255, 255, 0.6); /* Прозрачный белый фон */
    color: #333;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px; /* Увеличиваем расстояние между пунктами меню */
}

nav ul li a {
    color: #333;
    text-decoration: none;
    display: inline-block; /* Делаем ссылки блочными элементами */
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Прозрачный белый фон */
    margin-bottom: 20px;
    border-radius: 5px; /* Скругление углов блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
}

section h2 {
    color: #333; /* Цвет заголовка */
}

section img {
    display: block;
    margin: 0 auto; /* Центрирование изображения */
    margin-top: 20px; /* Отступ сверху */
    max-width: 100%; /* Сделаем изображение адаптивным */
    height: auto;
}

footer {
    background-color: rgba(255, 255, 255, 0.6); /* Прозрачный белый фон */
    color: #333;
    text-align: center;
    padding: 10px 0;
}
